/* star (*) is a global selector, while outline will not mess with your elements positions, it'll just add a 1px red outline */
/* * { 
  outline: 1px solid white;
  outline-offset: -1px;
} */

body {
    background-color: #260701;
    color: #a5a58d;
    font-family: "Arial", sans-serif;
}
  
.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background-color: #2f0e07;
    max-width: 1000px;
    margin: auto;
}
  
.left-container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px; /*top horizontal bottom*/
    gap: 25px;
}

.profile-summary {
    margin: 0; /*removes paragraph top-bottom*/
}

/* Skills style starts */
.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.skill-item {
    display: flex;
    flex-wrap: wrap;    
    flex-grow: 1;
    gap: 5px;
}

.skill-item .name {
    margin: 0;
    width: 120px;
}

.skill-item .proficiency {
    background-color: #a5a58d;
    flex-grow: 1;
    min-width: 200px;
}
/* Skills style ends */

/* Work experience style starts */
.project-list{    
    padding: 0; /* left padding created by ol */
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.role-duration{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}
  
.project-role {
    margin: 0;
    width: 70%;
}

.client-employer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}
/* Work experience style ends */
  
/* Right container styles starts from here */
.right-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #4a2419;
}
  
.hero-section {
    text-align: center;
    background-color: #653a2a;
}
  
.profile-image {
    padding-top: 7px;
    width: 130px;
    border-radius: 65px;
}

.contact-section {    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.contact-link {
    text-decoration: none;
    color: #a5a58d;
}